<html>
  <body>
    <div class="ui-page">
         <div id="t-019671fb-bd29-4e35-883d-c2ba70cc6246" class="template growth-both firer commentable" name="Template 5">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/019671fb-bd29-4e35-883d-c2ba70cc6246-1454685463741.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/019671fb-bd29-4e35-883d-c2ba70cc6246-1454685463741-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/019671fb-bd29-4e35-883d-c2ba70cc6246-1454685463741-ie8.css" /><![endif]-->
           <div id="t-Rectangle_1" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Label_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_1_0">FRANKE</span></div></div></div>
           <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable" path="M 0 3 L 10 3" startMarker="none" endMarker="open"  >
           </div>
           <div id="t-Label_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_2_0">Kitchen Systems</span></div></div></div>
           <img id="t-Image_1" class="image firer ie-background commentable"    alt="image" src="./images/837508a8-b8d7-4737-be1d-d36a5f4817d4.png"/>
           <div id="t-Label_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_3_0">FRANKE WORLWIDE</span></div></div></div>
           <div id="t-Label_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0">CONTACT</span></div></div></div>
           <img id="t-Image_3" class="image firer ie-background commentable"    alt="image" src="./images/954f046d-9f46-4933-803d-c3df725dd0a6.png"/>
           <div id="t-Line_2" class="line shape non-processed-shape firer ie-background commentable" path="M 0 3 L 10 3" startMarker="none" endMarker="open"  >
           </div>
           <div id="t-Label_7" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_7_0">My Accoun</span><span id="rtr-t-Label_7_1">t</span></div></div></div>
           <div id="t-Line_3" class="line shape non-processed-shape firer ie-background commentable" path="M 0 3 L 10 3" startMarker="none" endMarker="open"  >
           </div>
           <div id="t-Label_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0">My Favorites</span></div></div></div>
           <img id="t-Image_5" class="image firer ie-background commentable"    alt="image" src="./images/3f500e85-a4ec-46ea-8e8d-b2bcee48070e.png"/>
           <div id="t-Label_17" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_17_0">00,00 &euro;</span></div></div></div>
           <div id="t-Group_2" class="group firer ie-background commentable">
             <div id="t-Group_3" class="group firer ie-background commentable">
               <img id="t-Image_6" class="image firer ie-background commentable"    alt="image" src="./images/f3248344-000f-47b1-bb43-aae843f3541a.png"/>
               <img id="t-Image_7" class="image firer ie-background commentable"    alt="image" src="./images/f98d5c31-bf56-422f-9463-432107a47e9c.png"/>
               <img id="t-Image_8" class="image firer ie-background commentable"    alt="image" src="./images/e6e6dd02-d7a9-4353-b621-d14969537ab8.png"/>
               <img id="t-Image_9" class="image firer ie-background commentable"    alt="image" src="./images/f98d5c31-bf56-422f-9463-432107a47e9c.png"/>
             </div>
             <div id="t-Label_18" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_18_0">0</span></div></div></div>
           </div>
           <div id="t-Category_1" class="dropdown firer ie-background commentable"    tabindex="-1"><div class="content"><div class="valign icon"><div class="value">English</div></div></div><select id="t-Category_1-options" class="t-019671fb-bd29-4e35-883d-c2ba70cc6246 dropdown-options" ><option  class="option">Deutsch</option>
           <option selected="selected" class="option">English</option>
           <option  class="option">Fran&ccedil;ais</option>
           <option  class="option">Italiano</option></select></div>
           <div id="t-Input_1" class="text firer commentable" ><div class="content"><div class="valign"><input type="text"  value="" maxlength="100"  tabindex="-1" /></div>  </div></div>
           <img id="t-Image_2" class="image firer ie-background commentable"    alt="image" src="./images/9f77258b-70f1-4ab1-948b-3b97a5f2fb37.png"/>
           <div id="t-Group_1" class="group firer ie-background commentable">
             <div id="t-Label_14" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_14_0">Cleaning products</span></div></div></div>
             <div id="t-Label_15" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_15_0">Accessories</span></div></div></div>
             <div id="t-Label_16" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_16_0">Spare parts</span></div></div></div>
             <div id="t-Label_19" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_19_0">Main products</span></div></div></div>
             <div id="t-Label_20" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_20_0">Service</span></div></div></div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>