<html>
  <body>
    <div class="ui-page">
         <div id="t-7519e27b-9635-44a6-94e9-aa122a526b61" class="template growth-both firer commentable" name="Temp-Checkout">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/7519e27b-9635-44a6-94e9-aa122a526b61-1454685463741.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/7519e27b-9635-44a6-94e9-aa122a526b61-1454685463741-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/7519e27b-9635-44a6-94e9-aa122a526b61-1454685463741-ie8.css" /><![endif]-->
           <div id="t-Label_10" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_10_0">Checkout</span></div></div></div>
           <img id="t-Image_5" class="image firer ie-background commentable"    alt="image" src="./images/3f500e85-a4ec-46ea-8e8d-b2bcee48070e.png"/>
           <div id="t-Rectangle_2" class="rectangle firer ie-background commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_2_0"></span>
               </div>
             </div>
            </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>