<html>
  <body>
    <div class="ui-page">
         <div id="t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88" class="template growth-both firer commentable" name="Template 3">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/a6d4f7cf-75dd-4c69-ac89-fea401d0bb88-1454685463741.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/a6d4f7cf-75dd-4c69-ac89-fea401d0bb88-1454685463741-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/a6d4f7cf-75dd-4c69-ac89-fea401d0bb88-1454685463741-ie8.css" /><![endif]-->
           <div id="t-Rectangle_1" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Label_1" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_1_0">FRANKE</span></div></div></div>
           <div id="t-Line_1" class="line shape non-processed-shape firer ie-background commentable" path="M 0 3 L 10 3" startMarker="none" endMarker="open"  >
           </div>
           <div id="t-Label_2" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_2_0">Kitchen Systems</span></div></div></div>
           <div id="t-Category_1" class="dropdown firer ie-background commentable"    tabindex="-1"><div class="content"><div class="valign icon"><div class="value">Deutsch</div></div></div><select id="t-Category_1-options" class="t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 dropdown-options" ><option selected="selected" class="option">Deutsch</option>
           <option  class="option">English</option>
           <option  class="option">Fran&ccedil;ais</option>
           <option  class="option">Italiano</option></select></div>
           <img id="t-Image_1" class="image firer ie-background commentable"    alt="image" src="./images/837508a8-b8d7-4737-be1d-d36a5f4817d4.png"/>
           <div id="t-Label_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_3_0"> FRANKE WELTWEIT</span></div></div></div>
           <div id="t-Label_4" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0">KONTAKT</span></div></div></div>
           <div id="t-Label_5" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_5_0"> H&Auml;NDLER LOGIN</span></div></div></div>
           <div id="t-Input_1" class="text firer commentable" ><div class="content"><div class="valign"><input type="text"  value="" maxlength="100"  tabindex="-1" /></div>  </div></div>
           <img id="t-Image_2" class="image firer ie-background commentable"    alt="image" src="./images/9f77258b-70f1-4ab1-948b-3b97a5f2fb37.png"/>
           <img id="t-Image_3" class="image firer ie-background commentable"    alt="image" src="./images/954f046d-9f46-4933-803d-c3df725dd0a6.png"/>
           <img id="t-Image_4" class="image firer ie-background commentable"    alt="image" src="./images/e76171d2-2524-4c97-9c6b-5a9cebe5237c.png"/>
           <img id="t-Image_5" class="image firer ie-background commentable"    alt="image" src="./images/3f500e85-a4ec-46ea-8e8d-b2bcee48070e.png"/>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>