#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}