#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Input_18 {
  position: absolute;
  top: 214px;
  left: 504px;
  padding-left: 5px;
  width: 206px;
  height: 94px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Input_18 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Input_18 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_51 {
  position: absolute;
  top: 257px;
  left: 504px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_51 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_51 span#rtr-m-0afe5346-Label_51_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_52 {
  position: absolute;
  top: 283px;
  left: 504px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_52 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_52 span#rtr-m-0afe5346-Label_52_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_28 {
  position: absolute;
  top: 214px;
  left: 633px;
  padding-top: 5px;
  padding-left: 10px;
  width: 50px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_28 .valign {
  vertical-align: bottom;
  text-align: right;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_28 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: underline;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Label_28 span#rtr-m-0afe5346-Label_28_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: underline;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Text_7 {
  position: absolute;
  top: 214px;
  left: 504px;
  padding-top: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: OpenSans-Bold,Arial;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Text_7 .valign {
  vertical-align: bottom;
  text-align: left;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Text_7 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed #m-0afe5346-Text_7 span#rtr-m-0afe5346-Text_7_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-0afe5346-cf5e-40ff-8bdd-ec6f61e473ed.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}