#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 {
  position: absolute;
  top: 143px;
  left: 0px;
  width: 1920px;
  height: 29px;
  background-color: #F5F5F5;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 span#rtr-m-504af2ed-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 {
  position: absolute;
  top: 150px;
  left: 300px;
  width: 1320px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 span {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 span#rtr-m-504af2ed-Text_9_0 {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}