#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#m-504af2ed-283a-4a86-a792-44160239a585.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}