#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Dynamic_Panel_8 {
  position: absolute;
  top: 133px;
  left: 528px;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Panel_8 {
  width: 103px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Panel_8 .verticalalign {
  vertical-align: top;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Group_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 103px;
  height: 42px;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Image_16 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 24px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Label_31 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Label_31 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Label_31 span#rtr-m-6faa1c08-Label_31_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Panel_9 {
  width: 103px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Panel_9 .verticalalign {
  vertical-align: top;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 103px;
  height: 42px;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Image_1 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 24px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Text_1 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Text_1 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91 #m-6faa1c08-Text_1 span#rtr-m-6faa1c08-Text_1_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-6faa1c08-ed02-4cef-beb8-7e0ac34f5a91.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}