#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Input_17 {
  position: absolute;
  top: 177px;
  left: 514px;
  padding-left: 5px;
  width: 206px;
  height: 148px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Input_17 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Input_17 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_43 {
  position: absolute;
  top: 220px;
  left: 514px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_43 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_43 span#rtr-m-90349754-Label_43_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_44 {
  position: absolute;
  top: 246px;
  left: 514px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_44 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_44 span#rtr-m-90349754-Label_44_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_45 {
  position: absolute;
  top: 272px;
  left: 514px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_45 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_45 span#rtr-m-90349754-Label_45_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_46 {
  position: absolute;
  top: 298px;
  left: 514px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_46 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_46 span#rtr-m-90349754-Label_46_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_47 {
  position: absolute;
  top: 220px;
  left: 710px;
  padding-right: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_47 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_47 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_47 span#rtr-m-90349754-Label_47_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_49 {
  position: absolute;
  top: 298px;
  left: 669px;
  padding-right: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_49 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_49 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_49 span#rtr-m-90349754-Label_49_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_48 {
  position: absolute;
  top: 246px;
  left: 669px;
  padding-right: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_48 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_48 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_48 span#rtr-m-90349754-Label_48_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_50 {
  position: absolute;
  top: 272px;
  left: 683px;
  padding-right: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_50 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_50 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_50 span#rtr-m-90349754-Label_50_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_28 {
  position: absolute;
  top: 177px;
  left: 656px;
  padding-top: 10px;
  padding-left: 5px;
  width: 51px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_28 .valign {
  vertical-align: bottom;
  text-align: right;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_28 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: underline;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Label_28 span#rtr-m-90349754-Label_28_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: underline;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Text_7 {
  position: absolute;
  top: 177px;
  left: 514px;
  padding-top: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: OpenSans-Bold,Arial;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Text_7 .valign {
  vertical-align: bottom;
  text-align: left;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Text_7 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7 #m-90349754-Text_7 span#rtr-m-90349754-Text_7_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-90349754-e2b8-47ea-85b5-7a33ff1ba7b7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}