#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}