#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-login_popup {
  position: absolute;
  top: 129px;
  left: 1296px;
  display: none;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_7 {
  width: 270px;
  height: 261px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 0px 5px 0px #B9B9B9;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_7 .verticalalign {
  vertical-align: top;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 {
  position: absolute;
  top: 73px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 span#rtr-m-e47948b9-Label_29_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 span#rtr-m-e47948b9-Label_29_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 span#rtr-m-e47948b9-Label_29_2 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_8 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 230px;
  height: 40px;
  background-color: #DC281E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_8 span#rtr-m-e47948b9-Button_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_8 span#rtr-m-e47948b9-Button_8_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Line_2 {
  position: absolute;
  top: 121px;
  left: 20px;
  width: 230px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_18 {
  position: absolute;
  top: 140px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_18 span {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_18 span#rtr-m-e47948b9-Text_18_0 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_18 span#rtr-m-e47948b9-Text_18_1 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_19 {
  position: absolute;
  top: 173px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_19 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_19 span#rtr-m-e47948b9-Text_19_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_20 {
  position: absolute;
  top: 201px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_20 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_20 span#rtr-m-e47948b9-Text_20_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_21 {
  position: absolute;
  top: 230px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_21 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_21 span#rtr-m-e47948b9-Text_21_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_9 {
  width: 270px;
  height: 292px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 0px 5px 0px #B9B9B9;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_9 .verticalalign {
  vertical-align: top;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_9 {
  position: absolute;
  top: 14px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_9 span {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_9 span#rtr-m-e47948b9-Text_9_0 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_9 span#rtr-m-e47948b9-Text_9_1 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_1 {
  position: absolute;
  top: 232px;
  left: 20px;
  width: 228px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_1 span#rtr-m-e47948b9-Button_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_1 span#rtr-m-e47948b9-Button_1_1 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Line_1 {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 230px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Input_1 {
  position: absolute;
  top: 39px;
  left: 20px;
  width: 230px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Input_1 input {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Group_11 {
  position: absolute;
  top: 101px;
  left: 20px;
  width: 95px;
  height: 108px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_22 span {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_22 span#rtr-m-e47948b9-Text_22_0 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_22 span#rtr-m-e47948b9-Text_22_1 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_23 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_23 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_23 span#rtr-m-e47948b9-Text_23_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_24 {
  position: absolute;
  top: 61px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_24 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_24 span#rtr-m-e47948b9-Text_24_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_25 {
  position: absolute;
  top: 90px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_25 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_25 span#rtr-m-e47948b9-Text_25_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Login-MyAccountIcon {
  position: absolute;
  top: 57px;
  left: 1256px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_6 {
  width: 120px;
  height: 74px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_6 .verticalalign {
  vertical-align: top;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Image_14 {
  position: absolute;
  top: 0px;
  left: 51px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_27 {
  position: absolute;
  top: 24px;
  left: 40px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_27 span {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_27 span#rtr-m-e47948b9-Label_27_0 {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_27 span#rtr-m-e47948b9-Label_27_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_8 {
  width: 120px;
  height: 74px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Panel_8 .verticalalign {
  vertical-align: top;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Image_4 {
  position: absolute;
  top: 0px;
  left: 51px;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_8 {
  position: absolute;
  top: 24px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_8 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_8 span#rtr-m-e47948b9-Text_8_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_8 span#rtr-m-e47948b9-Text_8_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}