a {
	text-decoration: none;
	color: #939393;
}

a.lnk_1 {
    background: transparent url(../../images/franke-icons-kitchen_systems.png) no-repeat 0 -498px;
    color: black;
    font-size: 11px;
    padding-left: 11px;
	margin-left: 5px;
    text-decoration: none;
}

a:hover{
	color: #e13b3f;
	text-decoration: none;
}


.inline_block {
	display: block;
}

.right {
	float: right;
}

#page-wrap {
	width: 1000px;
    margin: 0 auto;
}

#header .content_block{
	width: 970px;
	margin: 0 auto;
}

.content_summary, .footer_content, .last_footer  {
	width: 940px;
	margin: 0 auto;
}


#header .content_block  span:nth-child(2){
	float: right;
	margin-top: 12px;
}

body {
	color: #939393;
    font: 14px/24px "Trebuchet MS", Helvetica, sans-serif;
}

#header {
    display: block;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 12px rgba(0,0,0, 0.09);
    z-index: 10000;
	padding-top: 20px;
    padding-bottom: 21px;
}

.content_slider {
	background-color: #f0f0f0;
	display: none;
	/*background-color: #eaeef2;*/
    box-shadow: inset 0 6px 8px #dde3ea;
	margin-top: 20px;
}
.footer {
	background-color: #f0f0f0;
	box-shadow: inset 0 6px 8px #dde3ea;
	padding-top: 20px;
	padding-bottom: 15px;
}

.summary_head table tr td:first-child {
	vertical-align: top;
}

.summary_head table tr td:first-child img {
	margin-right: 10px;
}

.summary_head table tr td:last-child label:nth-child(1){
	font-weight: bold;
    font-size: 18px;
}

.content_summary .summary_content {
	margin-top:15px;
	margin-bottom: 30px;
}

.summary_content label:nth-child(1) {
	/*height: 185px;
    display: inline-block;*/
}

.footer_header {
	font-weight: bold;
    font-size: 18px;
    color: #C01B0D;
	margin-bottom: 10px;
    display: inline-block;
}

.last_footer label {
	padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}


/*page detail*/
.page_detail_content {
	width: 950px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.page_detail_content .box_header{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.mk-divider {
	padding: 20px 0 30px;
    width: 70px;
}

.divider-inner {
	border-top: 3px solid #C01B0D;
}

.mk-full-divider {
	padding: 40px 0 40px;
}

.divider-full-inner {
	border-top: 1px solid #939393;
}

.content_box ul {
	list-style: none;
	
}

.content_box ul  li {
	position: relative;
    margin: 0 0 6px;
    padding: 0 0 0 28px;
    line-height: 24px!important;
}

.content_box ul  li:before {
    font-family: FontAwesome;
    content: "\f00c";
    /*color: #f47421;*/
	color: #C01B0D;
	position: absolute;
    top: 2px;
    left: 0;
    font-size: 16px;
    line-height: 24px!important;
}