body {
    background: url('../images/body_bg.jpg') no-repeat top center #EFEEEB;
    color: #2f2f2f;
    font-family: arial, helvetica, sans-serif;
}

@media (min-width: 768px) {
    .page-header .panel.wrapper {
        border: none;
        background-color: transparent;
        color: #000;
        font-size: 12px;
    }

    .header.content {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /*My Cart button*/
    .cart-top-button {
        display: block;
        float: right;
        font-size: 12px;
        background: url('../images/top-button-right.jpg') top right no-repeat;
        margin-left: 25px;
    }

    .cart-top-button .bg-right {
        background: url('../images/cart-button-top.jpg') left top no-repeat;
    }

    .bg-right {
        padding-right: 10px;
        padding: 8px 15px 0px 10px;
        line-height: 30px;
    }

    .cart-top-button a {
        padding-left: 40px;
        font-weight: bold;
    }
    #minicart-small-device {
        display: none;
    }
    .minicart-wrapper .block-minicart {
        right: -140px;
        width: 400px;
        top: 37px;
    }

    /*switcher language*/
    #switcher-language strong.switcher-label {
        position: relative;
        margin-right: 25px;
    }

    .panel.header .links, .panel.header .switcher {
        line-height: 42px;
    }

    .view-default span, .view-de_view span {
        background: url('../images/de_view.gif') left top no-repeat;
        padding-left: 30px;
    }

    .page-header .switcher .options ul.dropdown .view-de_view a,
    .page-header .switcher .options ul.dropdown .view-default a{
        background: url('../images/de_view.gif') left no-repeat;
        padding-left: 30px;
        margin-left: 10px;
    }

    .view-en_view span{
        background: url('../images/en_view.gif') left top no-repeat;
        padding-left: 30px;
    }

    .page-header .switcher .options ul.dropdown .view-en_view a{
        background: url('../images/en_view.gif') left no-repeat;
        padding-left: 30px;
        margin-left: 10px;
    }
}


@media (max-width: 767px){
    /*My Cart button*/
    .cart-top-button, #minicart-large-device {
        display: none;
    }

    .page-header .minicart-wrapper {
        z-index: 1;
    }
}

/*change link on top: sign in, contact*/
.header.panel > .header.links > li > a, .header.panel > .header.links > li > a:visited {
    color: #0187C5;
}

/* switcher language */
.page-header .switcher .options .action.toggle:after {
    line-height: 45px;
    margin-left: 10px;
}

.page-header .switcher .options .action.toggle.active:after {
    line-height: 45px;
    margin-left: 10px;
}

.page-header .switcher .options.active ul.dropdown {
    line-height: 17px;
}