#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Category_1-options {
  background-color: transparent;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_2 > .valign {
  vertical-align: middle;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_3 > .valign {
  vertical-align: middle;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 19px;
  padding-bottom: 2px;
  padding-left: 22px;
  width: 57px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}