#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 20px;
  background-color: #E3E4E4;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_1 {
  position: absolute;
  top: 3px;
  left: 414px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_1 span {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_1 span#rtr-t-Label_1_0 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_1 {
  position: absolute;
  top: 7px;
  left: 463px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_2 {
  position: absolute;
  top: 3px;
  left: 479px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_2 span {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_2 span#rtr-t-Label_2_0 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Category_1 {
  position: absolute;
  top: 1px;
  left: 1406px;
  padding-left: 5px;
  width: 93px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Category_1 .valign {
  width: 75px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 947px;
  width: 30px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_3 {
  position: absolute;
  top: 2px;
  left: 843px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_3 span#rtr-t-Label_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_4 {
  position: absolute;
  top: 2px;
  left: 1021px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_4 span#rtr-t-Label_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_1 {
  position: absolute;
  top: 2px;
  left: 1222px;
  padding-left: 5px;
  width: 133px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_2 {
  position: absolute;
  top: 0px;
  left: 1365px;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_3 {
  position: absolute;
  top: 0px;
  left: 1073px;
  width: 14px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_5 {
  position: absolute;
  top: 58px;
  left: 414px;
  width: 130px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_6 {
  position: absolute;
  top: 132px;
  left: 414px;
  width: 1090px;
  height: 312px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_7 {
  position: absolute;
  top: 225px;
  left: 1102px;
  width: 404px;
  height: 400px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_6 {
  position: absolute;
  top: 343px;
  left: 1197px;
  width: 214px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_6 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_6 span#rtr-t-Label_6_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_7 {
  position: absolute;
  top: 382px;
  left: 1197px;
  width: 167px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_7 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_7 span#rtr-t-Label_7_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_3 {
  position: absolute;
  top: 410px;
  left: 1197px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_8 {
  position: absolute;
  top: 402px;
  left: 1215px;
  width: 167px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_8 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_8 span#rtr-t-Label_8_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_9 {
  position: absolute;
  top: 426px;
  left: 1215px;
  width: 167px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_9 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_9 span#rtr-t-Label_9_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_10 {
  position: absolute;
  top: 450px;
  left: 1215px;
  width: 167px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_10 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_10 span#rtr-t-Label_10_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_11 {
  position: absolute;
  top: 474px;
  left: 1215px;
  width: 167px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_11 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_11 span#rtr-t-Label_11_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_12 {
  position: absolute;
  top: 498px;
  left: 1215px;
  width: 167px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_12 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_12 span#rtr-t-Label_12_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Group_1 {
  position: absolute;
  top: 537px;
  left: 1197px;
  width: 112px;
  height: 21px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 85px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_13 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_13 span#rtr-t-Label_13_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_8 {
  position: absolute;
  top: 0px;
  left: 91px;
  width: 21px;
  height: 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_4 {
  position: absolute;
  top: 434px;
  left: 1197px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_5 {
  position: absolute;
  top: 458px;
  left: 1197px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_6 {
  position: absolute;
  top: 482px;
  left: 1197px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_7 {
  position: absolute;
  top: 506px;
  left: 1197px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Dynamic_Panel_2 {
  position: absolute;
  top: 0px;
  left: 1112px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_2 {
  width: 91px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_2 .verticalalign {
  vertical-align: middle;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Group_6 {
  width: 51px;
  height: 14px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_5 span#rtr-t-Label_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_4 {
  position: absolute;
  top: 1px;
  left: 40px;
  width: 11px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_3 {
  width: 91px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_3 .verticalalign {
  vertical-align: middle;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Group_7 {
  width: 60px;
  height: 14px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Text_1 span#rtr-t-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Text_1 span#rtr-t-Text_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_10 {
  position: absolute;
  top: 1px;
  left: 49px;
  width: 11px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: 1100px;
  display: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_1 {
  width: 182px;
  height: 244px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Panel_1 .verticalalign {
  vertical-align: top;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_2 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 176px;
  height: 219px;
  background-color: #E3E4E4;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Group_3 {
  position: absolute;
  top: 32px;
  left: 10px;
  width: 160px;
  height: 41px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_5 {
  position: absolute;
  top: 20px;
  left: 0px;
  padding-left: 5px;
  width: 153px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_5 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_5 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_14 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_14 span#rtr-t-Label_14_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_7 {
  position: absolute;
  top: 101px;
  left: 10px;
  padding-left: 5px;
  width: 153px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_7 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_7 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_16 {
  position: absolute;
  top: 81px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_16 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_16 span#rtr-t-Label_16_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Group_2 {
  position: absolute;
  top: 129px;
  left: 87px;
  width: 83px;
  height: 15px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Input_2 {
  position: absolute;
  top: 1px;
  left: 0px;
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_17 {
  position: absolute;
  top: 0px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_17 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_17 span#rtr-t-Label_17_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_17 span#rtr-t-Label_17_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_8 {
  position: absolute;
  top: 164px;
  left: 10px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_18 {
  position: absolute;
  top: 158px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_18 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_18 span#rtr-t-Label_18_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_9 {
  position: absolute;
  top: 184px;
  left: 10px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_19 {
  position: absolute;
  top: 178px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_19 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_19 span#rtr-t-Label_19_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_19 span#rtr-t-Label_19_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Button_1 {
  position: absolute;
  top: 205px;
  left: 70px;
  padding-right: 19px;
  padding-left: 22px;
  width: 57px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px 0px #E3E4E4;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Button_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Button_1 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Button_1 span#rtr-t-Button_1_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_2 {
  position: absolute;
  top: 214px;
  left: 136px;
  width: 14px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 111px;
  height: 20px;
  background-color: #E3E4E4;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_20 {
  position: absolute;
  top: 2px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_20 span#rtr-t-Label_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_9 {
  position: absolute;
  top: 3px;
  left: 72px;
  width: 11px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}