#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d #t-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-1a807fd0-5a84-4e56-9b23-19bb9eb4173d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}