#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 20px;
  background-color: #E3E4E4;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_1 {
  position: absolute;
  top: 3px;
  left: 414px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_1 span {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_1 span#rtr-t-Label_1_0 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Line_1 {
  position: absolute;
  top: 7px;
  left: 463px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_2 {
  position: absolute;
  top: 3px;
  left: 479px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_2 span {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_2 span#rtr-t-Label_2_0 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 947px;
  width: 30px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_3 {
  position: absolute;
  top: 2px;
  left: 843px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_3 span#rtr-t-Label_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_4 {
  position: absolute;
  top: 2px;
  left: 1019px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_4 span#rtr-t-Label_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_3 {
  position: absolute;
  top: 0px;
  left: 1071px;
  width: 14px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Line_2 {
  position: absolute;
  top: 44px;
  left: 1340px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_7 {
  position: absolute;
  top: 40px;
  left: 1357px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_7 span {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_7 span#rtr-t-Label_7_0 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_7 span#rtr-t-Label_7_1 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Line_3 {
  position: absolute;
  top: 44px;
  left: 1426px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_8 {
  position: absolute;
  top: 40px;
  left: 1443px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_8 span {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_8 span#rtr-t-Label_8_0 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_5 {
  position: absolute;
  top: 58px;
  left: 414px;
  width: 130px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_14 {
  position: absolute;
  top: 83px;
  left: 1057px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_14 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_14 span#rtr-t-Label_14_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_15 {
  position: absolute;
  top: 83px;
  left: 1192px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_15 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_15 span#rtr-t-Label_15_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_16 {
  position: absolute;
  top: 83px;
  left: 1288px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_16 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_16 span#rtr-t-Label_16_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_17 {
  position: absolute;
  top: 84px;
  left: 1454px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_17 .valign {
  vertical-align: middle;
  text-align: right;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_17 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_17 span#rtr-t-Label_17_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Group_2 {
  position: absolute;
  top: 72px;
  left: 1401px;
  width: 25px;
  height: 28px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 28px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_7 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 3px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_8 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 4px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_9 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: 3px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_18 {
  position: absolute;
  top: 2px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 7.0pt;
  font-family: Arial,Arial;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 700;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Label_18 span#rtr-t-Label_18_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 7.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Category_1 {
  position: absolute;
  top: 1px;
  left: 1406px;
  padding-left: 5px;
  width: 93px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Category_1 .valign {
  width: 75px;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Input_1 {
  position: absolute;
  top: 2px;
  left: 1222px;
  padding-left: 5px;
  width: 133px;
  height: 14px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 #t-Image_2 {
  position: absolute;
  top: 0px;
  left: 1365px;
  width: 19px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-26794a7f-62e2-4faa-ad54-2fc338d17e01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}