#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Category_1-options {
  background-color: transparent;
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 #t-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#t-34991cae-d259-4092-83e9-d3d8b493c235 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}