#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c #t-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-34bbde51-43b1-4a60-ab09-a7b00703c14c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}