#t-7519e27b-9635-44a6-94e9-aa122a526b61 #t-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7519e27b-9635-44a6-94e9-aa122a526b61 #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7519e27b-9635-44a6-94e9-aa122a526b61 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-7519e27b-9635-44a6-94e9-aa122a526b61 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}