#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Line_1 {
  rotation: 45.0;
  margin-left: 0px;
  margin-top: -3px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-8cfa954d-db2e-416a-80a6-e9184704dd04 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}