#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 #t-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-a6d4f7cf-75dd-4c69-ac89-fea401d0bb88 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}