<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Update to your %store_name Credit memo" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var comment":"Credit Memo Comment",
"var creditmemo.increment_id":"Credit Memo Id",
"var billing.getName()":"Guest Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">
                <strong>{{trans "Sehr geehrte/r %customer_name," customer_name=$billing.getName()}}</strong>
            </p>
            <p>
                {{trans
                    "Ihre Gutschrift Nr. #%increment_id wurde aktualisiert. Neuer Status: <strong>%order_status</strong>."

                    increment_id=$order.increment_id
                    order_status=$order.getStatusLabel()
                |raw}}
            </p>
            <p>
                {{trans 'Sollten Sie Fragen haben, senden Sie uns eine E-Mail an <a href="mailto:%store_email">%store_email</a>.' store_email=$store_email |raw}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}


{{block class="Magento\\Cms\\Block\\Block" area='frontend' block_id="email-agb"}}