<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Ein neues Passwort setzen"}} @-->
<!--@vars {
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">
    <strong>
        {{trans "Sehr geehrte/r %customer_name," customer_name=$customer.name}}
    </strong>
</p>
<p>{{trans "Das Passwort für Ihr Konto wurde erfolgreich geändert."}}</p>
<p>{{trans "Wenn Sie diese Änderung nicht angefordert haben, kontaktieren Sie uns bitte."}}</p>

{{template config_path="design/email/footer_template"}}
