<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Ein neues Passwort setzen"}} @-->
<!--@vars {
"var this.getUrl(store, 'customer/account/')":"Customer Account URL",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">
    <strong>
        {{trans "Sehr geehrte/r %customer_name," customer_name=$customer.name}}
    </strong>
</p>
<p>{{trans "Es gab kürzlich eine Anfrage, das Passwort für Ihr Konto zu ändern."}}</p>
<p>{{trans "Sie können Ihr Passwort jederzeit ändern, indem Sie sich in Ihrem Kundenbereichen anmelden."}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'customer/account/createPassword',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Ein neues Passwort setzen"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>{{trans "Wenn Sie diese Anfrage nicht gestellt haben, können Sie diese E-Mail ignorieren und Ihr Passwort bleibt unverändert."}}</p>

{{template config_path="design/email/footer_template"}}
