#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_72 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Category_6-options {
  background-color: #FFFFFF;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 89px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 89px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}