#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-27e46f9e-7336-4ff1-b652-876a2b4091b8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}