#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 1580px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Dynamic_Panel_1 {
  position: absolute;
  top: 195px;
  left: 300px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_1 {
  width: 1320px;
  height: 1060px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_12 {
  width: 1320px;
  height: 1px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_12 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_13 {
  width: 1320px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_13 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1318px;
  height: 38px;
  background-color: #F2FAE3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #659F13;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #659F13;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #659F13;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #659F13;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_4 span {
  color: #659F13;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #659F13;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_1 {
  position: absolute;
  top: 12px;
  left: 87px;
  width: 223px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_6 {
  position: absolute;
  top: 9px;
  left: 1282px;
  width: 23px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_8 {
  position: absolute;
  top: 9px;
  left: 33px;
  width: 27px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_14 {
  width: 1320px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_14 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1318px;
  height: 38px;
  background-color: #F2FAE3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #659F13;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #659F13;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #659F13;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #659F13;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_1 span {
  color: #659F13;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #659F13;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_10 {
  position: absolute;
  top: 12px;
  left: 87px;
  width: 375px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_7 {
  position: absolute;
  top: 9px;
  left: 1282px;
  width: 23px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_9 {
  position: absolute;
  top: 9px;
  left: 33px;
  width: 27px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_2 {
  width: 1320px;
  height: 332px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_1 {
  width: 1320px;
  height: 333px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_11 {
  width: 916px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_3 {
  width: 916px;
  height: 200px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 916px;
  height: 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_10 {
  width: 916px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_4 {
  width: 942px;
  height: 351px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 942px;
  height: 351px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 346px;
  width: 246px;
  height: 146px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 692px;
  width: 246px;
  height: 146px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_6 {
  position: absolute;
  top: 201px;
  left: 0px;
  width: 246px;
  height: 146px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_7 {
  position: absolute;
  top: 201px;
  left: 346px;
  width: 246px;
  height: 146px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_8 {
  position: absolute;
  top: 201px;
  left: 692px;
  width: 246px;
  height: 146px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_9 {
  position: absolute;
  top: 114px;
  left: 0px;
  width: 250px;
  height: 36px;
  background-color: #000000;
  background-image: none;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_3 {
  position: absolute;
  top: 123px;
  left: 87px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_2 {
  position: absolute;
  top: 309px;
  left: 79px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_4 {
  position: absolute;
  top: 114px;
  left: 412px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_4 span#rtr-s-Text_4_1 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_5 {
  position: absolute;
  top: 104px;
  left: 776px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_6 {
  position: absolute;
  top: 309px;
  left: 442px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_7 {
  position: absolute;
  top: 316px;
  left: 782px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_7 span#rtr-s-Text_7_1 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Paragraph_1 {
  width: 10px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Dynamic_Panel_8 {
  position: absolute;
  top: 59px;
  left: 1504px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_5 {
  width: 107px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_16 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 24px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Label_31 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 107px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Label_31 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Label_31 span#rtr-s-Label_31_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Master_item_1 div.offset {
  position: relative;
  top: -57px;
  left: -1256px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Master_item_1 {
  position: absolute;
  top: 57px;
  left: 1256px;
  width: 310px;
  height: 333px;
  overflow: visible;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Master_item_2 div.offset {
  position: relative;
  top: -143px;
  left: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Master_item_2 {
  position: absolute;
  top: 1550px;
  left: 0px;
  width: 1920px;
  height: 30px;
  overflow: visible;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Master_item_3 div.offset {
  position: relative;
  top: -1351px;
  left: 0px;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Master_item_3 {
  position: absolute;
  top: 1351px;
  left: 0px;
  width: 1920px;
  height: 200px;
  overflow: visible;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}