#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #659F13;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #659F13;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #659F13;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #659F13;
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #659F13;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #659F13;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #659F13;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #659F13;
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-31b0bf0e-adf6-4b17-bcfe-0d99cd84cb2c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}