#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_11 {
  rotation: 90.0;
  margin-left: 134px;
  margin-top: -135px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}