#s-4156ad78-8224-42cf-b27f-0daa41cfcbac > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 980px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: 1100px;
  display: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_1 {
  width: 182px;
  height: 244px;
  background-color: transparent;
  background-image: none;
  box-shadow: 2px 2px 5px -2px #CCCCCC;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_3 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 176px;
  height: 219px;
  background-color: #E3E4E4;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_5 {
  position: absolute;
  top: 32px;
  left: 10px;
  width: 160px;
  height: 41px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_8 {
  position: absolute;
  top: 20px;
  left: 0px;
  padding-left: 5px;
  width: 153px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_8 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_22 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_22 span#rtr-s-Label_22_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_11 {
  position: absolute;
  top: 81px;
  left: 10px;
  width: 160px;
  height: 41px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_9 {
  position: absolute;
  top: 20px;
  left: 0px;
  padding-left: 5px;
  width: 153px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_9 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_23 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_23 span#rtr-s-Label_23_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_6 {
  position: absolute;
  top: 129px;
  left: 87px;
  width: 83px;
  height: 15px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_10 {
  position: absolute;
  top: 1px;
  left: 0px;
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_24 {
  position: absolute;
  top: 0px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_24 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_24 span#rtr-s-Label_24_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_24 span#rtr-s-Label_24_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_9 {
  position: absolute;
  top: 164px;
  left: 10px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_25 {
  position: absolute;
  top: 158px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_25 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_25 span#rtr-s-Label_25_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_12 {
  position: absolute;
  top: 184px;
  left: 10px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_26 {
  position: absolute;
  top: 178px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_26 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_26 span#rtr-s-Label_26_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_26 span#rtr-s-Label_26_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_4 {
  position: absolute;
  top: 205px;
  left: 70px;
  padding-right: 19px;
  padding-left: 22px;
  width: 57px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px 0px #E3E4E4;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_4 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_4 span#rtr-s-Button_4_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_13 {
  position: absolute;
  top: 214px;
  left: 136px;
  width: 14px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 111px;
  height: 20px;
  background-color: #E3E4E4;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_28 {
  position: absolute;
  top: 2px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_28 span#rtr-s-Label_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_11 {
  position: absolute;
  top: 3px;
  left: 72px;
  width: 11px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Dynamic_Panel_2 {
  position: absolute;
  top: 120px;
  left: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_2 {
  width: 1920px;
  height: 900px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 1320px;
  height: 49px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_4 {
  position: absolute;
  top: 13px;
  left: 701px;
  width: 114px;
  height: 23px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
  overflow: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_1 .content {
  width: 23px;
  height: 23px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_1 span {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_16 {
  position: absolute;
  top: 1px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_16 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_16 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_16 span#rtr-s-Label_16_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_29 {
  position: absolute;
  top: 0px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_29 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_29 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_29 span#rtr-s-Label_29_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_29 span#rtr-s-Label_29_1 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
  overflow: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_2 .content {
  width: 23px;
  height: 23px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_2 {
  position: absolute;
  top: 13px;
  left: 470px;
  width: 23px;
  height: 23px;
  background-color: #DC281E;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DC281E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DC281E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_2 span {
  color: #646464;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #646464;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_30 {
  position: absolute;
  top: 13px;
  left: 476px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_31 {
  position: absolute;
  top: 13px;
  left: 505px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_31 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_31 span {
  color: #DC281E;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_31 span#rtr-s-Label_31_0 {
  color: #DC281E;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_31 span#rtr-s-Label_31_1 {
  color: #DC281E;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_3 {
  position: absolute;
  top: 13px;
  left: 967px;
  width: 174px;
  height: 23px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
  overflow: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_3 .content {
  width: 23px;
  height: 23px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_3 span {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_32 {
  position: absolute;
  top: 1px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_32 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_32 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_32 span#rtr-s-Label_32_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_33 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_33 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_33 span#rtr-s-Label_33_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_33 span#rtr-s-Label_33_1 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_2 {
  position: absolute;
  top: 13px;
  left: 1294px;
  width: 156px;
  height: 23px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 23px;
  height: 23px;
  position: absolute;
  overflow: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_4 .content {
  width: 23px;
  height: 23px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Ellipse_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 23px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_4 span {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_34 {
  position: absolute;
  top: 1px;
  left: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_34 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_34 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_34 span#rtr-s-Label_34_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 35px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_35 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_35 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_35 span#rtr-s-Label_35_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Dynamic_Panel_5 {
  position: absolute;
  top: 620px;
  left: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_6 {
  width: 1920px;
  height: 250px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_6 .verticalalign {
  vertical-align: bottom;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Master_item_3 div.offset {
  position: relative;
  top: -143px;
  left: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Master_item_3 {
  width: 1920px;
  height: 30px;
  overflow: visible;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Dynamic_Panel_3 {
  position: absolute;
  top: 50px;
  left: 300px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_3 {
  width: 1320px;
  height: 70px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1320px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_1 {
  position: absolute;
  top: 14px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 23.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Dynamic_Panel_4 {
  position: absolute;
  top: 205px;
  left: 300px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_4 {
  width: 1320px;
  height: 270px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_1 {
  width: 854px;
  height: 270px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_19 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_19 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_19 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_19 span#rtr-s-Label_19_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_15 {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 250px;
  height: 53px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_13 {
  position: absolute;
  top: 23px;
  left: 0px;
  padding-left: 5px;
  width: 243px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_13 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_13 input {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_39 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_39 span#rtr-s-Label_39_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_8 {
  position: absolute;
  top: 229px;
  left: 133px;
  width: 117px;
  height: 35px;
  background-color: #DC281E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px 0px #E3E4E4;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_8 span#rtr-s-Button_8_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Group_16 {
  position: absolute;
  top: 128px;
  left: 0px;
  width: 250px;
  height: 75px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_14 {
  position: absolute;
  top: 23px;
  left: 0px;
  padding-left: 5px;
  width: 243px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Input_14 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_40 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_40 span#rtr-s-Label_40_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_41 {
  position: absolute;
  top: 60px;
  left: 150px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_41 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_41 span#rtr-s-Label_41_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: underline;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Line_11 {
  position: absolute;
  top: 135px;
  left: 265px;
  width: 270px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E6E6E6;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_27 {
  position: absolute;
  top: 0px;
  left: 553px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_27 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_27 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_27 span#rtr-s-Label_27_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_42 {
  position: absolute;
  top: 50px;
  left: 554px;
  width: 300px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_42 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_42 span#rtr-s-Label_42_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_9 {
  position: absolute;
  top: 229px;
  left: 553px;
  width: 116px;
  height: 35px;
  background-color: #DC281E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px 0px #E3E4E4;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_9 span#rtr-s-Button_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Button_9 span#rtr-s-Button_9_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_43 {
  position: absolute;
  top: 87px;
  left: 570px;
  width: 250px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_43 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_43 span#rtr-s-Label_43_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_1 {
  position: absolute;
  top: 88px;
  left: 549px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_4 {
  position: absolute;
  top: 121px;
  left: 570px;
  width: 150px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_4 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_4 span#rtr-s-Text_4_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_2 {
  position: absolute;
  top: 122px;
  left: 549px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_5 {
  position: absolute;
  top: 156px;
  left: 570px;
  width: 180px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_5 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Text_5 span#rtr-s-Text_5_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_3 {
  position: absolute;
  top: 157px;
  left: 549px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Dynamic_Panel_6 {
  position: absolute;
  top: 608px;
  left: 300px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_5 {
  width: 130px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_3 {
  position: absolute;
  top: 1px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_3 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 8.0pt;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Label_3 span#rtr-s-Label_3_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4156ad78-8224-42cf-b27f-0daa41cfcbac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}