#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Line_10 {
  rotation: 90.0;
  margin-left: 289px;
  margin-top: -290px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_16 INPUT {
  font-family: Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_4 INPUT {
  font-family: Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e47948b9-a21b-4f48-a4b3-861286beae42 #m-e47948b9-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67d94ac-8561-4329-8c00-4ac61c9e531b #m-f67d94ac-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}