#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 1080px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Group_6 {
  position: absolute;
  top: 59px;
  left: 1504px;
  width: 103px;
  height: 42px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_16 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 24px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_31 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_31 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Rectangle_3 {
  position: absolute;
  top: 180px;
  left: 300px;
  width: 1320px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_1 {
  position: absolute;
  top: 194px;
  left: 300px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 23.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Line_10 {
  position: absolute;
  top: 623px;
  left: 671px;
  width: 580px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E6E6E6;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_20 {
  position: absolute;
  top: 333px;
  left: 1115px;
  width: 350px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_20 span#rtr-s-Label_20_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_21 {
  position: absolute;
  top: 370px;
  left: 1131px;
  width: 250px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_21 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_1 {
  position: absolute;
  top: 371px;
  left: 1110px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_2 {
  position: absolute;
  top: 404px;
  left: 1131px;
  width: 150px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_2 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_2 {
  position: absolute;
  top: 405px;
  left: 1110px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_3 {
  position: absolute;
  top: 439px;
  left: 1131px;
  width: 180px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_3 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Image_3 {
  position: absolute;
  top: 440px;
  left: 1110px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_17 {
  position: absolute;
  top: 333px;
  left: 521px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_17 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_17 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_17 span#rtr-s-Label_17_0 {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_13 {
  position: absolute;
  top: 484px;
  left: 521px;
  padding-left: 5px;
  width: 283px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_13 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_13 input {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_39 {
  position: absolute;
  top: 461px;
  left: 521px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Open Sans Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_39 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_39 span#rtr-s-Label_39_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_39 span#rtr-s-Label_39_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_39 span#rtr-s-Label_39_2 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_14 {
  position: absolute;
  top: 562px;
  left: 521px;
  padding-left: 5px;
  width: 283px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_14 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_14 input {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_41 {
  position: absolute;
  top: 539px;
  left: 521px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Open Sans Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_41 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_41 span#rtr-s-Label_41_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_41 span#rtr-s-Label_41_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_41 span#rtr-s-Label_41_2 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_15 {
  position: absolute;
  top: 640px;
  left: 521px;
  padding-left: 5px;
  width: 283px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_15 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_15 input {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_42 {
  position: absolute;
  top: 617px;
  left: 521px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Open Sans Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_42 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_42 span#rtr-s-Label_42_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_42 span#rtr-s-Label_42_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_42 span#rtr-s-Label_42_2 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_2 {
  position: absolute;
  top: 406px;
  left: 521px;
  padding-left: 5px;
  width: 73px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  vertical-align: middle;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_2 .valign {
  width: 55px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_36 {
  position: absolute;
  top: 383px;
  left: 521px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Open Sans Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_36 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_36 span#rtr-s-Label_36_1 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 695px;
  left: 521px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_1 {
  width: 290px;
  height: 275px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_2 {
  width: 290px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Open Sans Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_43 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_43 span#rtr-s-Label_43_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_43 span#rtr-s-Label_43_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_43 span#rtr-s-Label_43_2 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_13 {
  width: 290px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_13 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 8px;
  width: 70px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Open Sans Bold,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_12 span {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Open Sans Bold,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_3 {
  width: 290px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Group_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 290px;
  height: 30px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 283px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_16 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_16 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_44 {
  position: absolute;
  top: 8px;
  left: 251px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_44 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Label_44 span#rtr-s-Label_44_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_12 {
  width: 290px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_12 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 290px;
  height: 30px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 283px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DC281E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DC281E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DC281E;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Input_4 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_5 {
  position: absolute;
  top: 8px;
  left: 251px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_4 {
  width: 290px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 8px;
  padding-bottom: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_7 span {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_14 {
  width: 290px;
  height: 1px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_14 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_11 {
  width: 172px;
  height: 26px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_11 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_10 {
  width: 290px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_5 {
  width: 290px;
  height: 107px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Button_7 {
  position: absolute;
  top: 0px;
  left: 174px;
  width: 116px;
  height: 35px;
  background-color: #DC281E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px 0px #E3E4E4;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Button_7 span#rtr-s-Button_7_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_6 {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 150px;
  height: 17px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_6 span {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_6 span#rtr-s-Text_6_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Text_6 span#rtr-s-Text_6_2 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Paragraph_1 {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 290px;
  height: 37px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Paragraph_1 span {
  color: #878787;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #878787;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #878787;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #878787;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Master_item_1 div.offset {
  position: relative;
  top: -57px;
  left: -1256px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Master_item_1 {
  position: absolute;
  top: 57px;
  left: 1256px;
  width: 310px;
  height: 333px;
  overflow: visible;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Dynamic_Panel_8 {
  position: absolute;
  top: 969px;
  left: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_6 {
  width: 1920px;
  height: 280px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Panel_6 .verticalalign {
  vertical-align: bottom;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Master_item_2 div.offset {
  position: relative;
  top: -1351px;
  left: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Master_item_2 {
  width: 1920px;
  height: 200px;
  overflow: visible;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Master_item_3 div.offset {
  position: relative;
  top: -143px;
  left: 0px;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 #s-Master_item_3 {
  width: 1920px;
  height: 30px;
  overflow: visible;
}
#s-41a6dd46-6a5b-4c04-bf30-c05df8752763 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}