#s-8135bfdf-d8ab-4732-9cec-b770a5704623 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 1430px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 181px;
  left: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_1 {
  width: 1920px;
  height: 1243px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_2 {
  width: 1320px;
  height: 70px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1320px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_1 {
  position: absolute;
  top: 14px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 23.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_7 {
  width: 770px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_5 {
  width: 770px;
  height: 75px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_13 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 770px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_13 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_13 span#rtr-s-Text_13_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_14 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_14 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_6 {
  width: 770px;
  height: 75px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_10 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 770px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_10 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_10 span#rtr-s-Text_10_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_16 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_3 {
  width: 770px;
  height: 825px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_18 {
  position: absolute;
  top: 215px;
  left: 0px;
  padding-bottom: 3px;
  width: 770px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_18 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_18 span#rtr-s-Label_18_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_1 {
  position: absolute;
  top: 257px;
  left: 0px;
  padding-left: 10px;
  width: 758px;
  height: 31px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_1 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_11 {
  position: absolute;
  top: 265px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_11 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_12 {
  position: absolute;
  top: 265px;
  left: 389px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_12 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_13 {
  position: absolute;
  top: 265px;
  left: 502px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_13 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_14 {
  position: absolute;
  top: 265px;
  left: 626px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_14 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_14 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_14 span#rtr-s-Label_14_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_15 {
  position: absolute;
  top: 265px;
  left: 726px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_15 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_15 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_15 span#rtr-s-Label_15_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart {
  position: absolute;
  top: 289px;
  left: 0px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Grid_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Grid_cell_1 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Grid_cell_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Image_1 {
  position: absolute;
  top: 14px;
  left: 6px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_2 {
  position: absolute;
  top: 9px;
  left: 110px;
  width: 221px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_2 input {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_3 {
  position: absolute;
  top: 40px;
  left: 110px;
  width: 221px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: text;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_3 textarea {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_4 {
  position: absolute;
  top: 36px;
  left: 350px;
  width: 110px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_4 input {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_6 {
  position: absolute;
  top: 36px;
  left: 581px;
  width: 69px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_6 input {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_7 {
  position: absolute;
  top: 36px;
  left: 682px;
  width: 69px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_7 input {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_5 {
  position: absolute;
  top: 37px;
  left: 500px;
  width: 45px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-ShoppingCart .s-Input_5 input {
  color: #5A5A5A;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_2 {
  position: absolute;
  top: 639px;
  left: 0px;
  padding-left: 10px;
  width: 758px;
  height: 109px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_2 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_19 {
  position: absolute;
  top: 659px;
  left: 512px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_19 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_19 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_19 span#rtr-s-Label_19_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_20 {
  position: absolute;
  top: 659px;
  left: 707px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_20 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_20 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_20 span#rtr-s-Label_20_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_21 {
  position: absolute;
  top: 710px;
  left: 512px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_21 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_36 {
  position: absolute;
  top: 710px;
  left: 694px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_36 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_36 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_36 span#rtr-s-Label_36_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_37 {
  position: absolute;
  top: 684px;
  left: 512px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_37 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_37 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_37 span#rtr-s-Label_37_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_38 {
  position: absolute;
  top: 684px;
  left: 721px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_38 span {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #5A5A5A;
  text-align: right;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Dynamic_Panel_7 {
  position: absolute;
  top: 70px;
  left: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_10 {
  width: 770px;
  height: 104px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_10 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_11 {
  width: 360px;
  height: 102px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_11 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_66 {
  position: absolute;
  top: 15px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_66 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_66 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_66 span#rtr-s-Label_66_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_67 {
  position: absolute;
  top: 15px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_67 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_67 span#rtr-s-Label_67_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_68 {
  position: absolute;
  top: 35px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_68 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_68 span#rtr-s-Label_68_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_69 {
  position: absolute;
  top: 55px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_69 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_69 span#rtr-s-Label_69_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_70 {
  position: absolute;
  top: 75px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_70 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_70 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_70 span#rtr-s-Label_70_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_12 {
  width: 360px;
  height: 102px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_12 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_71 {
  position: absolute;
  top: 15px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_71 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_71 span#rtr-s-Label_71_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_72 {
  position: absolute;
  top: 15px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_72 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_72 span#rtr-s-Label_72_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_73 {
  position: absolute;
  top: 35px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_73 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_73 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_73 span#rtr-s-Label_73_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_74 {
  position: absolute;
  top: 55px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_74 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_74 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_74 span#rtr-s-Label_74_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_75 {
  position: absolute;
  top: 75px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_75 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_75 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_75 span#rtr-s-Label_75_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_29 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 3px;
  width: 770px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_29 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_77 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_77 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_77 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_77 span#rtr-s-Label_77_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_78 {
  position: absolute;
  top: 57px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_78 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_78 span#rtr-s-Label_78_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_79 {
  position: absolute;
  top: 57px;
  left: 360px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_79 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_79 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_79 span#rtr-s-Label_79_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_80 {
  position: absolute;
  top: 30px;
  left: 360px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_80 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_80 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_80 span#rtr-s-Label_80_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_83 {
  position: absolute;
  top: 30px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_83 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_83 span#rtr-s-Label_83_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_84 {
  position: absolute;
  top: 57px;
  left: 80px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_84 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_84 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_84 span#rtr-s-Label_84_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_85 {
  position: absolute;
  top: 57px;
  left: 404px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_85 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_85 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_85 span#rtr-s-Label_85_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_86 {
  position: absolute;
  top: 30px;
  left: 482px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_86 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_86 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_86 span#rtr-s-Label_86_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_8 {
  width: 1920px;
  height: 280px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Master_item_2 div.offset {
  position: relative;
  top: -1351px;
  left: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Master_item_2 {
  width: 1920px;
  height: 200px;
  overflow: visible;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Master_item_3 div.offset {
  position: relative;
  top: -143px;
  left: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Master_item_3 {
  width: 1920px;
  height: 30px;
  overflow: visible;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Master_item_1 div.offset {
  position: relative;
  top: -57px;
  left: -1256px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Master_item_1 {
  position: absolute;
  top: 57px;
  left: 1256px;
  width: 310px;
  height: 333px;
  overflow: visible;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Dynamic_Panel_10 {
  position: absolute;
  top: 59px;
  left: 1504px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_9 {
  width: 103px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Group_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 103px;
  height: 42px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Image_16 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 24px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_31 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_31 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8135bfdf-d8ab-4732-9cec-b770a5704623 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}