#s-82c0aa6d-feef-4551-a635-c016119352ec #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-82c0aa6d-feef-4551-a635-c016119352ec #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-82c0aa6d-feef-4551-a635-c016119352ec #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-82c0aa6d-feef-4551-a635-c016119352ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}