#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Input_15 INPUT {
  font-family: Arial;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-83d179c2-f87d-4512-ad0d-bcb8db23bc8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}