#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 1080px;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 462px;
  width: 1009px;
  height: 762px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_1 {
  position: absolute;
  top: 250px;
  left: 638px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_1 span {
  color: #A8A9A9;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #A8A9A9;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_1 span#rtr-s-Text_1_1 {
  color: #A8A9A9;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_2 {
  position: absolute;
  top: 301px;
  left: 638px;
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_2 span {
  color: #A8A9A9;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #A8A9A9;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_2 span#rtr-s-Text_2_1 {
  color: #A8A9A9;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Image_17 {
  position: absolute;
  top: 16px;
  left: 593px;
  width: 130px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_3 {
  position: absolute;
  top: 623px;
  left: 596px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_3 span {
  color: #0079AD;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #0079AD;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Button_1 {
  position: absolute;
  top: 392px;
  left: 627px;
  width: 392px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-84acc8f1-f817-4a44-b4a5-c6f54437d45a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}