#s-97305882-2b62-498c-ac8d-4daa9f8c3e5c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97305882-2b62-498c-ac8d-4daa9f8c3e5c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97305882-2b62-498c-ac8d-4daa9f8c3e5c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}