#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 1080px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Group_6 {
  position: absolute;
  top: 59px;
  left: 1504px;
  width: 103px;
  height: 42px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_16 {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 24px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_31 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_31 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_31 span#rtr-s-Label_31_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Rectangle_3 {
  position: absolute;
  top: 180px;
  left: 300px;
  width: 1320px;
  height: 69px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_1 {
  position: absolute;
  top: 194px;
  left: 300px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 23.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_1 span#rtr-s-Text_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 23.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Line_10 {
  position: absolute;
  top: 490px;
  left: 854px;
  width: 215px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E6E6E6;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_21 {
  position: absolute;
  top: 383px;
  left: 1115px;
  width: 328px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_21 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_21 span#rtr-s-Label_21_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_22 {
  position: absolute;
  top: 438px;
  left: 1131px;
  width: 150px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_22 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_22 span#rtr-s-Label_22_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_1 {
  position: absolute;
  top: 439px;
  left: 1110px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_2 {
  position: absolute;
  top: 472px;
  left: 1131px;
  width: 280px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_2 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_2 span#rtr-s-Text_2_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_2 span#rtr-s-Text_2_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_2 {
  position: absolute;
  top: 473px;
  left: 1110px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_3 {
  position: absolute;
  top: 525px;
  left: 1131px;
  width: 270px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_3 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_3 span#rtr-s-Text_3_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_3 span#rtr-s-Text_3_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_3 {
  position: absolute;
  top: 526px;
  left: 1110px;
  width: 14px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Button_6 {
  position: absolute;
  top: 500px;
  left: 694px;
  width: 117px;
  height: 35px;
  background-color: #DC281E;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px 0px #E3E4E4;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Input_11 {
  position: absolute;
  top: 406px;
  left: 561px;
  padding-left: 5px;
  width: 243px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Input_11 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Input_11 input {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_36 {
  position: absolute;
  top: 383px;
  left: 561px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Bold,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_36 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_36 span#rtr-s-Label_36_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_36 span#rtr-s-Label_36_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Bold,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_12 {
  position: absolute;
  top: 436px;
  left: 561px;
  padding-top: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_12 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_12 span#rtr-s-Text_12_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Master_item_1 div.offset {
  position: relative;
  top: -57px;
  left: -1256px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Master_item_1 {
  position: absolute;
  top: 57px;
  left: 1256px;
  width: 310px;
  height: 333px;
  overflow: visible;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Dynamic_Panel_5 {
  position: absolute;
  top: 669px;
  left: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Panel_6 {
  width: 1920px;
  height: 319px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Panel_6 .verticalalign {
  vertical-align: bottom;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Master_item_2 div.offset {
  position: relative;
  top: -1351px;
  left: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Master_item_2 {
  width: 1920px;
  height: 200px;
  overflow: visible;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Master_item_3 div.offset {
  position: relative;
  top: -143px;
  left: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Master_item_3 {
  width: 1920px;
  height: 30px;
  overflow: visible;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_5 {
  position: absolute;
  top: 414px;
  left: 772px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}