#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Rectangle_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E6E6E6;
  -ms-transform: rotate(90.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E6E6E6;
  -ms-transform: rotate(90.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Panel_6 > .valign {
  vertical-align: bottom;
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b16eaa97-b437-4b7b-9a28-5f35c97e91fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}