#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 1080px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Dynamic_Panel_3 {
  position: absolute;
  top: 180px;
  left: 300px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Panel_3 {
  width: 1320px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E6E6E6;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Panel_3 .verticalalign {
  vertical-align: middle;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_7 {
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_7 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_7 span#rtr-s-Text_7_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_72 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_72 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_72 span#rtr-s-Text_72_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_71 {
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_71 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_71 span#rtr-s-Text_71_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_71 span#rtr-s-Text_71_1 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_71 span#rtr-s-Text_71_2 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_8 {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_8 span {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_8 span#rtr-s-Text_8_0 {
  color: #5A5A5A;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_9 {
  padding-right: 10px;
  padding-left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: OpenSans-Regular,Arial;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_9 span#rtr-s-Text_9_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: OpenSans-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}