#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd4edc61-f5ea-4a94-821a-dbf1cae8e7ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}