#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #7C7C7C;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_3 > .valign {
  vertical-align: middle;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_4 > .valign {
  vertical-align: middle;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 19px;
  padding-bottom: 2px;
  padding-left: 22px;
  width: 57px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-artFam .s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-ProdList .s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-ProdList .s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-ProdList .s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 94px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_28 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_38 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_39 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_40 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_41 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_42 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_43 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_44 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_45 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_46 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_47 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Paragraph_48 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(45.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(45.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(135.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -ms-transform: rotate(135.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E3E4E4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E3E4E4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E4E4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E3E4E4;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_29 > .valign {
  vertical-align: middle;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Panel_30 > .valign {
  vertical-align: middle;
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-dcf97696-fc7a-4e52-afda-be1b12dab0e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}