#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1920px;
  min-width: 1920px;
  min-height: 1380px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_10 {
  position: absolute;
  top: 123px;
  left: 670px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Corporate S Light,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_10 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Corporate S Light,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Corporate S Light,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_10 span#rtr-s-Label_10_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Corporate S Light,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_10 span#rtr-s-Label_10_2 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Corporate S Light,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_10 span#rtr-s-Label_10_3 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Corporate S Light,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Line_4 {
  position: absolute;
  top: 160px;
  left: 670px;
  width: 314px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C7C7C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Line_5 {
  position: absolute;
  top: 160px;
  left: 983px;
  width: 497px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #7C7C7C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_6 {
  position: absolute;
  top: 40px;
  left: 1213px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_6 span {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #646464;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 1112px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_3 {
  width: 91px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_3 .verticalalign {
  vertical-align: middle;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_7 {
  width: 51px;
  height: 14px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Image_4 {
  position: absolute;
  top: 1px;
  left: 40px;
  width: 11px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_4 {
  width: 91px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_4 .verticalalign {
  vertical-align: middle;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_8 {
  width: 60px;
  height: 14px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Image_10 {
  position: absolute;
  top: 1px;
  left: 49px;
  width: 11px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: 1100px;
  display: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_1 {
  width: 182px;
  height: 244px;
  background-color: transparent;
  background-image: none;
  box-shadow: 2px 2px 5px -2px #CCCCCC;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_3 {
  position: absolute;
  top: 20px;
  left: 1px;
  width: 176px;
  height: 219px;
  background-color: #E3E4E4;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_5 {
  position: absolute;
  top: 32px;
  left: 10px;
  width: 160px;
  height: 41px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Input_8 {
  position: absolute;
  top: 20px;
  left: 0px;
  padding-left: 5px;
  width: 153px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Input_8 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_22 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_22 span#rtr-s-Label_22_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_11 {
  position: absolute;
  top: 81px;
  left: 10px;
  width: 160px;
  height: 41px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Input_9 {
  position: absolute;
  top: 20px;
  left: 0px;
  padding-left: 5px;
  width: 153px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B6B7B7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B6B7B7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B6B7B7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B6B7B7;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Input_9 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_23 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_23 span#rtr-s-Label_23_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_6 {
  position: absolute;
  top: 129px;
  left: 87px;
  width: 83px;
  height: 15px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Input_10 {
  position: absolute;
  top: 1px;
  left: 0px;
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_24 {
  position: absolute;
  top: 0px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_24 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_24 span#rtr-s-Label_24_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_24 span#rtr-s-Label_24_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Line_9 {
  position: absolute;
  top: 164px;
  left: 10px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_25 {
  position: absolute;
  top: 158px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_25 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_25 span#rtr-s-Label_25_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Line_12 {
  position: absolute;
  top: 184px;
  left: 10px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DC281E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_26 {
  position: absolute;
  top: 178px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_26 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_26 span#rtr-s-Label_26_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_26 span#rtr-s-Label_26_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Button_4 {
  position: absolute;
  top: 205px;
  left: 70px;
  padding-right: 19px;
  padding-left: 22px;
  width: 57px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 2px 4px 0px #E3E4E4;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Button_4 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Line_13 {
  position: absolute;
  top: 214px;
  left: 136px;
  width: 14px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 111px;
  height: 20px;
  background-color: #E3E4E4;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_28 {
  position: absolute;
  top: 2px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Image_11 {
  position: absolute;
  top: 3px;
  left: 72px;
  width: 11px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 1306px;
  left: 414px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_2 {
  width: 1092px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Line_8 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 1046px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #646464;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_1 {
  position: absolute;
  top: 450px;
  left: 670px;
  width: 770px;
  height: 545px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_18 {
  position: absolute;
  top: 0px;
  left: 3px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_18 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_18 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_18 span#rtr-s-Label_18_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_1 {
  position: absolute;
  top: 40px;
  left: 0px;
  padding-left: 10px;
  width: 758px;
  height: 31px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_1 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_11 {
  position: absolute;
  top: 48px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_11 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_12 {
  position: absolute;
  top: 48px;
  left: 379px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_12 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_12 span#rtr-s-Label_12_1 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_13 {
  position: absolute;
  top: 48px;
  left: 497px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_13 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_13 span#rtr-s-Label_13_1 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_14 {
  position: absolute;
  top: 48px;
  left: 600px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_14 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_14 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_14 span#rtr-s-Label_14_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_14 span#rtr-s-Label_14_1 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_15 {
  position: absolute;
  top: 48px;
  left: 691px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_15 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_15 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_15 span#rtr-s-Label_15_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_15 span#rtr-s-Label_15_1 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_15 span#rtr-s-Label_15_2 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart {
  position: absolute;
  top: 72px;
  left: 0px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Grid_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Grid_cell_1 .verticalalign {
  vertical-align: top;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Grid_cell_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #7C7C7C;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Image_1 {
  position: absolute;
  top: 14px;
  left: 6px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_2 {
  position: absolute;
  top: 9px;
  left: 110px;
  width: 231px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_2 input {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_3 {
  position: absolute;
  top: 40px;
  left: 110px;
  width: 231px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_3 textarea {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_4 {
  position: absolute;
  top: 36px;
  left: 340px;
  width: 110px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_4 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_4 input {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_6 {
  position: absolute;
  top: 36px;
  left: 586px;
  width: 69px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_6 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_6 input {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_7 {
  position: absolute;
  top: 36px;
  left: 682px;
  width: 69px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_7 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_7 input {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_5 {
  position: absolute;
  top: 37px;
  left: 496px;
  width: 45px;
  height: 24px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_5 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-ShoppingCart .s-Input_5 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Dynamic_Panel_4 {
  position: absolute;
  top: 220px;
  left: 670px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_5 {
  width: 770px;
  height: 51px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 770px;
  height: 41px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_29 {
  position: absolute;
  top: 280px;
  left: 673px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_29 span {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #282828;
  text-align: right;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_29 span#rtr-s-Label_29_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_13 {
  position: absolute;
  top: 363px;
  left: 673px;
  width: 130px;
  height: 15px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_77 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_77 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_77 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_77 span#rtr-s-Label_77_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_83 {
  position: absolute;
  top: 0px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_83 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_83 span#rtr-s-Label_83_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_14 {
  position: absolute;
  top: 339px;
  left: 673px;
  width: 184px;
  height: 15px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_78 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_78 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_78 span#rtr-s-Label_78_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_78 span#rtr-s-Label_78_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_78 span#rtr-s-Label_78_2 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_84 {
  position: absolute;
  top: 0px;
  left: 122px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_84 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_84 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_84 span#rtr-s-Label_84_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_84 span#rtr-s-Label_84_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_15 {
  position: absolute;
  top: 316px;
  left: 673px;
  width: 202px;
  height: 15px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_79 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_79 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_79 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_79 span#rtr-s-Label_79_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_79 span#rtr-s-Label_79_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_79 span#rtr-s-Label_79_2 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_85 {
  position: absolute;
  top: 0px;
  left: 142px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_85 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_85 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_85 span#rtr-s-Label_85_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_85 span#rtr-s-Label_85_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_80 {
  position: absolute;
  top: 386px;
  left: 673px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_80 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_80 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_80 span#rtr-s-Label_80_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_80 span#rtr-s-Label_80_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_86 {
  position: absolute;
  top: 386px;
  left: 763px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_86 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_86 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_86 span#rtr-s-Label_86_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_81 {
  position: absolute;
  top: 409px;
  left: 673px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_81 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_81 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_81 span#rtr-s-Label_81_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_87 {
  position: absolute;
  top: 409px;
  left: 737px;
  width: 703px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_87 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_87 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_87 span#rtr-s-Label_87_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Group_3 {
  position: absolute;
  top: 169px;
  left: 670px;
  width: 206px;
  height: 14px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Line_1 {
  position: absolute;
  top: 4px;
  left: 73px;
  width: 10px;
  height: 6px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282828;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_2 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_3 {
  position: absolute;
  top: 0px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_3 span {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_3 span#rtr-s-Label_3_1 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 #s-Label_3 span#rtr-s-Label_3_2 {
  color: #DC281E;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e4ddec8c-765d-48b9-9b9c-c3835c01cec0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}