#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-504af2ed-283a-4a86-a792-44160239a585 #m-504af2ed-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Button_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
  filter: alpha(opacity=93) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Button_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
  filter: alpha(opacity=93) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fd94477b-7c27-4eec-ae28-d5173d26b5f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}